<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/layout/index :: dynamic(~{::main})}">
	<body>
		<main th:object=${order}>
			<div class="panel panel-primary">
				<div class="panel-heading">ORDER INFORMATION</div>
				<div class="panel-body">
					<div class="row">
						<div class="form-group col-sm-4">
							<div>Order Number:</div>
							<input th:field="*{id}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<div>Purchaser:</div>
							<input th:field="*{account.username}" class="form-control" readonly>
						</div>
						<div class="form-group col-sm-4">
							<div>Purchased Date:</div>
							<input th:field="*{createDate}" class="form-control" readonly>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<div>Shipping Address:</div>
							<textarea th:field="*{address}" class="form-control" readonly></textarea>
						</div>
					</div>
				</div>
			</div>
		<div class="panel panel-primary">
			<div class="panel-heading">ORDER LINES</div>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detail: *{orderDetails}" th:object="${detail}">
						<td>[[*{product.id}]]</td>
						<td>[[*{product.name}]]</td>
						<td>$[[*{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}]]</td>
						<td>[[*{quantity}]]</td>
						<td>$[[*{#numbers.formatDecimal(price*quantity, 0, 'COMMA', 2,'POINT')}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
		</main>
	</body>
</html>