<div class="panel panel-default">
    <div class="panel-heading">ORDER EDITION</div>
    <div class="panel-body">
        <div class="row">
    
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div>Id</div>
                        <input ng-model="form.id" class="form-control" readonly>
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Username</div>
                        <select ng-model="form.Account.username" class="form-control">
                            <option ng-repeat="c in cates" ng-value="c.id">{{c.username}}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Address</div>
                        <input ng-model="form.address" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Create Date</div>
                        <input ng-model="form.createDate" type="date" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Status?</div>
                        <div class="form-control">
                            <label class="radio-inline">
                                <input ng-model="form.status" ng-value="false" name="available" type="radio">Đã giao
                            </label>
                            <label class="radio-inline">
                                <input ng-model="form.status" ng-value="true" name="available" type="radio">Đang giao
                            </label>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
    </div>

<div class="panel-footer text-center">
    <button ng-click="update()" class="btn btn-success">  
        <b class="glyphicon glyphicon-save"></b> Update
    </button>
    <button ng-click="delete(form)" class="btn btn-danger">  
        <b class="glyphicon glyphicon-trash"></b> Delete  
    </button>
    <button ng-click="reset()" class="btn btn-info">  
        <b class="glyphicon glyphicon-refresh"></b> Reset
    </button>
</div>
</div>
