<div class="panel panel-default">
    <div class="panel-heading">AUTHORIZING</div>
    <table class="table table-border">
        <thead class="bg-success" style="font-variant: small-caps;">
            <tr>
                <th></th>   
                <th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in admins">
                <td>{{acc.fullname}}</td>
                <th ng-repeat="role in roles" class="text-center">
                    <input ng-checked="authority_of(acc, role)" ng-click="authority_changed(acc, role)" type="checkbox">
                </th>
            </tr>
        </tbody>
    </table>
</div>